include ../icon-link/icon-link

mixin dropdown(label, placeholder, options, opened, status, controlled)

  div(class= opened ? "dropdown dropdown--opened" : "dropdown") 
    p.dropdown__label= label
    p.dropdown__status= status
    .dropdown__wrapper
      .dropdown__head
        span.dropdown__current= placeholder
        .dropdown__icon
          i.material-icons expand_more
      .dropdown__body
        ul.dropdown__list
          each value, option in options
            li.dropdown__option.option
              p.option__label= option
              button.option__button -
              p.option__count= value
              button.option__button +
        if controlled
          .dropdown__controls
            +icon-link("Очистить")
            +icon-link("Применить")
            

